<html>
<head>
<link rel = "stylesheet" type = "text/css" href = "/dist/css/bootstrap.css">
Hi <%= title %>
</head>
<body>
<form>
<input type = "text" method `= "post">
<button type = "submit">Submit</button>
</html>

